.popupContainer {
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;
}

.popupHeader {
    margin-top: 8px;
    margin-bottom: 8px;
}

.searchForm {
    display: flex;
    gap: 8px;
}

.searchInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.searchButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
    grid-auto-rows: 10px;
    overflow-y: auto;
    height: 100%;
}

.imageGrid img {
    margin-top: 8px;
    width: 100%;
    object-fit: cover;
}

.imageGrid::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

.imageGrid::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

.imageGrid::-webkit-scrollbar-corner {
    background: transparent;
}

.imageGrid::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.imageGrid::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}

.imageGrid::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
}

.imageGrid::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.loadingText {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: #555;
}

.uploadContainer {
    margin-top: 8px;
    display: flex;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadContainer.dragging {
    background-color: #f0f8ff;
}

.uploadButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.uploadButton:hover {
    background-color: #0056b3;
}

.uploadText,
.fileName {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.hiddenInput {
    display: none;
}