.workspaceArea {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: calc(100vh - var(--toolsBarHeight) - 150px);
}

.workspaceSlideWrapper {
    aspect-ratio: 16 / 9;
    max-width: 1920px;
    max-height: 1080px;
}

.workspaceSlide {
    aspect-ratio: 16 / 9;
    max-width: 1920px;
    max-height: 1080px;
    position: relative;
}