.workspaceArea {
    display: flex;
    justify-content: center;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    padding: 20px;
    height: calc(100vh - var(--toolsBarHeight) - 200px);
}

.workspaceSlideWrapper {
    aspect-ratio: 16 / 9;
    max-width: 1920px;
    max-height: 1080px;
}

.workspaceSlide {
    aspect-ratio: 16 / 9;
    max-width: 1920px;
    max-height: 1080px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
}