.buttonWrapper {
    display: flex;
    margin: 0 6px;
    align-items: center
}

.button {
    padding: 6px;
    border-radius: 5px;
    background-color: transparent;
    border: 0;
    position: relative;
    text-align: center;
    font-weight: 500;
    color: #000000B3;
}

.button:hover {
    background-color: #DFE5EB;
}

.icon {
    height: 16px;
    width: 16px;
}

.plus {
    background-image: url('./Icons/plus.svg');
}

.cursor {
    background-image: url('./Icons/cursor.svg');
}

.text {
    background-image: url('./Icons/text.svg');
}

.image {
    background-image: url('./Icons/image.svg');
}

.bucket {
    background-image: url('./Icons/bucket.svg');
}

.trashCan {
    background-image: url('./Icons/trashCan.svg');
}