.buttonWrapper {
    display: flex;
    align-items: center;
}

.toolsAreaButton {
    cursor: pointer;
    user-select: none;
    height: 100%;
    padding: 4px;
    border-radius: 5px;
    background-color: transparent;
    border: 0;
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #000000B3;
}

.toolsAreaButton:hover,
.popoverButton:hover {
    background-color: #DFE5EB;
}

.toolsAreaButton:active,
.popoverButton:hover:active {
    background-color: #4447461F;
    color: #444746;
}

.toolsAreaPopoverButton {
    cursor: pointer;
    user-select: none;
    padding: 4px;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
    border: 0;
    position: relative;
    text-align: center;
    font-weight: 500;
    color: #000000B3;
}

.colorPickerButton {
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 0 6px 6px;
    width: 100%;
    align-items: center;
    background: none;
    color: #3c4043;
    display: inline-flex;
    justify-content: space-between;
    outline: none;
    position: relative;
}

.colorPickerButton:hover {
    background-color: #3C3D430A;
    border: 1px solid #DADCE0;
    box-shadow: none;
}

.colorPickerButton:active {
    border: 1px solid transparent;
    box-shadow: 0 2px 6px 2px #3C404326;
}

.button:hover,
.toolsAreaPopoverButton:hover {
    background-color: #DFE5EB;
}

.button:active,
.toolsAreaPopoverButton:hover:active {
    background-color: #4447461F;
    color: #444746;
}

.imageInputButton {
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 9px 24px 11px;
    background: #fff;
    border: 1px solid #dadce0;
    color: #202124;
    user-select: none;
    cursor: pointer;
}

.imageInputButton:enabled:hover {
    background-color: #FFFDF6;
    border: 1px solid #FEEDBC;
}

.imageInputButton:enabled:active {
    background-color: #FFF5D7;
    border: 1px solid #FEE7A4;
}

.imageInputButton:disabled {
    opacity: .38;
    border: 0;
    cursor: auto;
}

.dropdownButton {
    display: flex;
    user-select: none;
    align-items: center;
    flex-wrap: nowrap;
    min-width: max-content;
    width: 100%;
    gap: 5px;
    border: 0;
    background: none;
    padding-block: 5px;
    font-size: 14px;
    border-radius: 1px;
    padding-right: 15px;
}

.dropdownButton:hover {
    background-color: #ECECEC;
}

.dropdownButton:active {
    background-color: #dcdcdc;
}

.slideShowButton {
    box-shadow: none;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    border: 1px solid #747775 !important;
    border-right: 1px solid transparent !important;
    border-radius: 100px 0 0 100px;
    color: #444746;
    height: 40px;
    margin-right: -1px;
    padding: 10px 16px;
    background: #f9fbfd;
}

.slideShowButtonDropdown {
    box-shadow: none;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    border: 1px solid #747775 !important;
    border-radius: 0 20px 20px 0;
    height: 40px;
    padding: 0;
    width: 36px;
    background: #f9fbfd;
    cursor: pointer;
}

.slideShowButton:hover,
.slideShowButtonDropdown:hover {
    border-color: #747775;
    color: #444746;
    background: #e8ebee;
}

.slideShowButton:active,
.slideShowButtonDropdown:active {
    border-color: #747775;
    color: #444746;
    background: #e1e3e6;
}