.scaleInput {
    width: 80px;
    padding-inline: 4px;
    padding-block: 7px;
    font-size: 14px;
    text-align: center;
    border: 0;
    color: #000000B3;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    font-weight: 500;
    border-radius: 5px;
}

.scaleInput:hover {
    background-color: #DFE5EB;
}

.scaleInput:focus {
    outline: 2px solid #0B57D0;
}