.selectListSelected {
    background: transparent;
    border: none;
    box-shadow: none;
    height: 100%;
}

.selectListSelected:hover {
    background-color: rgba(68, 71, 70, .08);
    box-shadow: none;
}

.separator {
    border-color: #c7c7c7;
    margin: 5px 3px;
    border-left: 1px solid #dadce0;
    vertical-align: top;
    line-height: normal;
    height: 20px;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.fontSizeInput {
    width: 80px;
    padding-inline: 4px;
    padding-block: 6px;
    font-size: 16px;
    text-align: center;
    border: 0;
    color: #000000B3;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    font-weight: 500;
    border-radius: 5px;
}

.fontSizeInput:hover {
    background-color: #DFE5EB;
}

.fontSizeInput::selection {
    background-color: #D3E3FD;
    color: #1f1f1f;
}

.fontSizeInput:focus {
    outline: 2px solid #0B57D0;
    color: #1f1f1f;
}

.selected {
    background-color: #D3E3FD;
}

.selected:hover {
    background-color: #D3E3FD;
}

.underlineButton {
    padding-top: 5px;
}

.alignmentControls {
    margin-top: 3px;
    display: flex;
    gap: 3px;
}