.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 8px;
    width: fit-content;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 22px;
    color: #202020;
}

.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;
    user-select: none;
}

.closeIcon {
    display: inline-block;
    background-image: url('./../../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    padding: 12px;
    width: 24px;
}

.closeIcon:hover {
    background-color: #F1F3F4;
}