.resize-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #0B57D0;
    outline: 0.1px solid #FFFFFF;
    cursor: pointer;
}

.resize-handle.top-left {
    top: -4.5px;
    left: -4.5px;
    cursor: nwse-resize;
}

.resize-handle.top-right {
    top: -4.5px;
    right: -4.5px;
    cursor: nesw-resize;
}

.resize-handle.bottom-left {
    bottom: -4.5px;
    left: -4.5px;
    cursor: nesw-resize;
}

.resize-handle.bottom-right {
    bottom: -4.5px;
    right: -4.5px;
    cursor: nwse-resize;
}

.resize-handle.top {
    top: -4.5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
}

.resize-handle.right {
    top: 50%;
    right: -4.5px;
    transform: translateY(-50%);
    cursor: ew-resize;
}

.resize-handle.bottom {
    bottom: -4.5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
}

.resize-handle.left {
    top: 50%;
    left: -4.5px;
    transform: translateY(-50%);
    cursor: ew-resize;
}