.speakerNotesDragger {
    background: #f9fbfd;
    border-color: transparent;
    border-style: solid none;
    border-width: 1px;
    cursor: default;
    height: 8px;
    padding-bottom: 16px;
    width: 100%;
    z-index: 1;
}

.speakerNotesDraggerThumb {
    background: #747775;
    border-radius: 12px;
    cursor: grab;
    height: 2px;
    margin: 3px auto 0;
    position: relative;
    width: 48px;
    z-index: 1;
}

.speakerNotesDragger:hover .speakerNotesDraggerThumb {
    background-color: #303030;
}

.speakerNotesContainer {
    display: flex;
    flex-direction: column;
    box-flex: 1;
    flex-grow: 1;
    max-height: 720px;
    min-height: 180px;
    z-index: 1;
}

.speakerNotesDragger {
    background: #f9fbfd;
    border-color: transparent;
    border-style: solid none;
    border-width: 1px;
    height: 8px;
    width: 100%;
    z-index: 1;
}

.speakerNotesDraggerThumb {
    background: #747775;
    border-radius: 12px;
    height: 2px;
    margin: 3px auto 0;
    width: 48px;
    z-index: 1;
}

.speakerNotesWorkspace {
    background-color: #edf2fa;
    cursor: text;
    flex-grow: 1;
    padding: 8px;
    z-index: 1;
}

.textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
    box-sizing: border-box;
    z-index: 1;
}

.textarea::placeholder {
    color: #000;
}