.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.popover {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 6px 1px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popover div {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.popover div:hover {
    background-color: #f9f9f9;
}