.slideCollection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max-content;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 50px 0 15px;
    padding: 25px;
    background-color: #FEFEFE;
    border-radius: 20px;
}

.slideCollection::-webkit-scrollbar {
    width: 10px;
}

.slideCollection::-webkit-scrollbar-track {
    background: #EFEFEF;
    border-radius: 10px;
}

.slideCollection::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    border: 0px;
}

.slideCollection::-webkit-scrollbar-thumb:hover {
    background-color: #404040;
}

.slideCollectionItemTitle {
    font-size: 15px;
    text-align: center;
}

.slideCollectionSlide {
    min-height: 90px;
    min-width: 200px;
    pointer-events: none;
}

.slideCollectionItemDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 5px;
}

.slideCollectionItemDiv:hover .slideCollectionSlide {
    outline: 3px solid #808080;
    outline-width: 3.5px;
    border: 0;
}