.popupFooterWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.imageInputButton {
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 9px 24px 11px;
    background: #fff;
    border: 1px solid #dadce0;
    color: #202124;
    user-select: none;
    cursor: pointer;
}

.imageInputButton:hover {
    background-color: #FFFDF6;
    border: 1px solid #FEEDBC;
}

.imageInputButton:active {
    background-color: #FFF5D7;
    border: 1px solid #FEE7A4;
}

.popupContent {
    padding: 20px;
}

.textarea {
    width: 600px;
    height: 200px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease;
}

.textarea:focus {
    border-color: #4a90e2;
}