.popupFooterWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.closeButton {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 9px 24px 11px;
    background: #FBBC04;
    color: #202124;
    cursor: pointer;
    user-select: none;
}

.closeButton:active.closeButton:hover {
    background: #fbbc04;
    color: #202124;
    background: #fcd154;
    box-shadow: 0 2px 6px 2px rgba(251, 188, 4, .15);
}

.closeButton:hover {
    background: #fbbc04;
    color: #202124;
    background: #fbc117;
    box-shadow: 0 1px 3px 1px rgba(251, 188, 4, .15);
}

.imageInputButton {
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 9px 24px 11px;
    background: #fff;
    border: 1px solid #dadce0;
    color: #202124;
    user-select: none;
    cursor: pointer;
}

.imageInputButton:hover {
    background-color: #FFFDF6;
    border: 1px solid #FEEDBC;
}

.imageInputButton:active {
    background-color: #FFF5D7;
    border: 1px solid #FEE7A4;
}