.button {
    border-radius: 5px;
    border: 0;
    position: relative;
}

.button:hover {
    background-color: #DFE5EB;
}

.buttonOpen {
    background-color: #D8DEE5;
}

.dropdownIcon {
    height: 10px;
    width: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('./Icons/DropdownCaret.svg');
}