* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  height: calc(100vh - var(--toolsBarHeight));
  width: 100vw;
  background-color: #F9FBFD;
  --toolsBarHeight: 40px;
  --titleMarginSide: 20px;
}

.presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: #000000 1px solid;
  height: calc(100vh - var(--toolsBarHeight));
  width: 100vw;
}

.container {
  display: flex;
}