* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

:root {
  height: calc(100vh - var(--toolsBarHeight));
  width: 100vw;
  background-color: #EFEFEF;
  --toolsBarHeight: 100px;
}

.presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: #000000 1px solid;
  height: calc(100vh - var(--toolsBarHeight));
  width: 100vw;
}

.selectedSlide {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1024px;
  height: calc(100vh - (var(--toolsBarHeight)));
  outline: 1px solid #808080;
  border-radius: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}