.textArea {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.textAreaWrapper {
    width: 100%;
    overflow: hidden;
}

.textAreaInput {
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    background: transparent;
}