.colorPickerButton {
    border: 1px solid #DFDFDF;
    border-radius: 100px;
    cursor: pointer;
    padding: 8px 6px 8px 8px;
    width: 22px;
    height: 22px;
    justify-content: space-between;
}

.colorPickerLabel {
    text-align: center;
    color: #3C4043;
    font-size: 14px;
    user-select: none;
}

.colorPickerWrapper {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.colorInputButton {
    border: 1px solid #DFDFDF;
    border-radius: 100px;
    padding: 8px 6px 8px 8px;
    width: 22px;
    height: 22px;
    justify-content: space-between;
}

.colorPickerContent {
    margin-bottom: 32px;
}